form div.field div.label {
	padding-top:7px;
}
form div.field div.value {
	font-weight:normal;
}
form div.subLabel {
	float:left;
}
form div.subLabel label {
	font-size:0.9em;
	margin-bottom:2px;
	font-weight:normal;
}
form div.subInput{
	float:left;
	clear:right;
	margin-bottom:2px;
}
form div.label img {
	vertical-align:middle;
	margin-right:5px;
}
form .addC {
	cursor:pointer;
	margin-bottom:5px;
	padding:7px 0px;
	float:left;
}
form .addC span {
	font-size:14px;
	font-weight:bold;
}
form select.filled, input.filled, textarea.filled {
	border:2px solid #f00;
}
form span.select2.filled {
	border: 2px solid #f00;
    border-radius: 4px;	
}
form select.filled + span.select2 {
	border: 2px solid #f00;
    border-radius: 4px;	
}

.elementDialog.docked .publicFormBorder{
	margin-bottom: 30px;
	margin-right: 10px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
	.hidden-small{
		width: 0px;
		display: none;
	}
}

#addSubscription_form_captcha div.label {
	max-width: 250px !important;
}

/*
form input.hasDatepicker {
	width: 100% !important;
}
*/



