form div.field div.label {
	padding-top:7px;
}
form div.field div.value {
	font-weight:normal;
}
form div.subLabel {
	float:left;
	padding-right:5px;
	padding-left:5px;
}
form div.subLabel label {
	font-size:0.9em;
	margin-bottom:2px;
	font-weight:normal;
}
form div.subInput{
	float:left;
	clear:right;
	margin-bottom:2px;
}
form div.label img {
	vertical-align:middle;
	margin-right:5px;
}
form .addC {
	cursor:pointer;
	margin-bottom:5px;
	padding:7px 0px;
	float:left;
}
form .addC span {
	font-size:14px;
	font-weight:bold;
}
form select {
	padding:1px;
}
form select.filled, input.filled, textarea.filled {
	border:2px solid #f00;
}
form span.select2.filled {
	border: 2px solid #f00;
    border-radius: 4px;	
}
form select.filled + span.select2 {
	border: 2px solid #f00;
    border-radius: 4px;	
}
form span.select2.select2-container {
	margin-top:-4px;
}
/* displayFreeTimeSlots in TimeRanges */
form .field .value .globalTimeSlots .timeSlotsContainer {
	display:flex;
	justify-content: center;
	text-align:center;
	margin-bottom:10px;
}
form .field .value .globalTimeSlots .dayTimeSlots {
	border:1px #eee solid;
	border-right:none;
	flex-grow:1;
}
form .field .value .globalTimeSlots .dayTimeSlots:last-child {
	border-right:1px #eee solid;
}
form .field .value .globalTimeSlots .dayTimeSlots:nth-child(odd) {
	background-color:#f7f7f7;
}
form .field .value .globalTimeSlots .dayTimeSlots .timeSlotHeader {
	border-bottom:1px #eee solid;
	padding:3px 0px;
}
form .field .value .globalTimeSlots .dayTimeSlots .timeSlotHeader .title {
	font-weight:bold;
}
form .field .value .globalTimeSlots .dayTimeSlots .timeSlotHeader .date {
	font-size:x-small;
}
form .field .value .globalTimeSlots .dayTimeSlots .timeSlot {
	padding:5px;
	cursor:pointer;
}
form .field .value .globalTimeSlots .dayTimeSlots .timeSlot:hover {
	background-color:#eee;
}
form .field .value .globalTimeSlots .commands {
	cursor:pointer;
	display:flex;
	justify-content:space-between;
}
form .field .value .globalTimeSlots .commands>*:hover {
	background-color:#eee;
}
form .field .value .globalTimeSlots .commands .glyphicon-chevron-left {
	padding:10px 20px;
	flex-grow:1;
	text-align:left;
}
form .field .value .globalTimeSlots .commands .glyphicon-calendar {
	padding:10px 20px;
	flex-grow:2;
	text-align:center;
}
form .field .value .globalTimeSlots .commands .glyphicon-chevron-right {
	padding:10px 20px;
	flex-grow:1;
	text-align:right;
}
.elementDialog.docked .publicFormBorder{
	margin-bottom: 30px;
	margin-right: 10px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
	.hidden-small{
		width: 0px;
		display: none;
	}
}

#addSubscription_form_captcha div.label {
	max-width: 250px !important;
}

/*
form input.hasDatepicker {
	width: 100% !important;
}
*/



