/**************************************
* indicators
**************************************/
#indicators {
	float:left;
	padding:0px;
}

#indicators>div {
	padding:5px;
}

#indicators div.indicator, #indicators div.addIndicator, #indicators div.closeIndicators, #indicators div.showIndicators {
	float:left;
	font-size:small;
	font-weight:bold;
	margin-left:5px; margin-bottom:2px; margin-top:0px;
	cursor:pointer;
}





