/**************************************
* Home page
**************************************/

div.homeContent {
	overflow-y:scroll;
	border-width-left:0px;
	border-width-right:0px;
	border-width-bottom:0px;
	margin-top:-1px;
}
div#ContainerHome {
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	padding-bottom:20px;
}
#ContainerHome .title {
	float:none;
	margin:0px;
	text-align:center;
}
#ContainerHome .introduction {
	float:none;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:0px;
	margin-right:0px;
}


#ContainerHome ul {
	display:block;
	list-style:none;
	padding:0px;
	margin:0px;
}
#ContainerHome li {
	float:left;
	list-style:none;
	padding:0px;
	padding-top:95px;
	margin:0px;
	margin-right:10px;
	width:100px;
	height:40px;
	background-color:transparent;
	background-image: url('../../images/icones/88x88/icongeneric88x88.png'); 
	background-repeat: no-repeat;
	background-position: top center;
}
#ContainerHome li.M {
	float:left;
	list-style:none;
	padding:0px;
	padding-top:95px;
	margin:0px;
	margin-right:10px;
	width:100px;
	height:40px;
	background-color:transparent;
	background-image: url('../../images/icones/88x88/iconList.png'); 
	background-repeat: no-repeat;
	background-position: top center;
}

#ContainerHome li a {
	color:#000;
	text-decoration:none;
	display:block;
	text-align:center;
}

#ContainerHome li.Contacts {
	background-image: url('../../images/icones/88x88/iconcontacts88x88.png'); 
}
#ContainerHome li.Filemanager {
	background-image: url('../../images/icones/88x88/iconfiles88x88.png'); 
}
#ContainerHome li.Events {
	background-image: url('../../images/icones/88x88/iconcalendar88x88.png'); 
}
#ContainerHome li.News{
	background-image: url('../../images/icones/88x88/iconnews88x88.png'); 
}
#ContainerHome li.Musics{
	background-image: url('../../images/icones/88x88/iconmusic88x88.png'); 
}
#ContainerHome li.Worship{
	background-image: url('../../images/icones/88x88/iconmusic88x88.png'); 
}
#ContainerHome li.Help{
	background-image: url('../../images/icones/88x88/iconhelp88x88.png'); 
}
#ContainerHome li.Programm{
	background-image: url('../../images/icones/88x88/iconapproved88x88.png'); 
}
#ContainerHome li.Transfer{
	background-image: url('../../images/icones/88x88/icontransfer88x88.png'); 
}
#ContainerHome li.Confidential{
	background-image: url('../../images/icones/88x88/iconapproved88x88.png'); 
}
#ContainerHome li.Technical{
	background-image: url('../../images/icones/88x88/book.png'); 
}
#ContainerHome li.Inventory{
	background-image: url('../../images/icones/88x88/iconList.png'); 
}
#ContainerHome li.Subscriptions{
	background-image: url('../../images/icones/88x88/iconsubsribe88x88.png'); 
}
#ContainerHome li.Tasks{
	background-image: url('../../images/icones/88x88/iconmultipleselection88x88.png'); 
}

#ContainerHome li.customImage {
	height:135px;
	background:none;
	padding-top:0px;
}
#ContainerHome li.customImage img {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#ContainerHome li.customImage a {
	margin-top:7px;
}

#ContainerHome ul.sub {
	display:none;
	position:absolute;
	background:#fff;
	float:left;
	padding:0px;
	z-index:999998;
	padding:0px;
}
#ContainerHome ul.sub li.sub {
	margin:0px;
	padding:0px 10px;
	float:none;
	list-style:none;
	background:none;
	height:auto;
}
#ContainerHome ul.sub li.sub a,
#ContainerHome li.customImage ul.sub li.sub a {
	text-align:left;
	margin-top:0px;
	padding:5px 8px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
}

#ContainerHome div.subtitle {
	border-width:0px 0px 1px 0px;
	margin:0px 0px 10px 0px;
	padding-bottom:2px;
}






