/**************************************
* Module View
**************************************/
#moduleView {
	float:none;
	display:block;
	overflow-y:hidden;
	overflow-x:none;
	border-left:3px solid #fff;
	margin-bottom:20px;
}

#moduleView .portal iframe {
	border:none;
}

/**************************************
* Element List ToolBar
**************************************/

#moduleView div.toolBar {
	float:left;
	width:100%;
}
#moduleView div.toolBar>div {
	float:right;
	padding:2px;
	cursor:pointer;
	margin-top:3px;
	margin-bottom:3px;
	margin-right:5px;
}
#moduleView div.toolBar>div.M {
	color:#000;
}

#moduleView div.toolBar>div.removeDuplicatesFilter
{
	padding:1px 6px;
	font-weight:bold;
	font-size:16px;
}

#moduleView div.toolBar>div.folderUp,
#moduleView div.calendar span.folderUp
{
	float:left;
	padding:3px 6px;
	margin-left:22px;
	font-weight:bold;
	background:no-repeat url('../../images/icones/tango/22x22/actions/up.png') 20px 0px;
	padding-left:45px;
}
#moduleView div.calendar span.folderUp {
	float:none;
	margin-left:0px;
	margin-top:2px;
	display:inline-block;
}

#moduleView div.calendar {
	margin-top:3px;
}

#moduleView div.toolBar>div.outlook,
#moduleView div.toolBar>div.emailing,
#moduleView div.toolBar>div.export,
#moduleView div.toolBar>div.addIndicator,
#moduleView div.toolBar>div.toggleCoverPage,
#moduleView div.toolBar>div.switchView
{
	padding:3px 6px;
	font-weight:bold;
}

#moduleView div.toolBar>div.select {
	float:right;
	padding:0px;
	cursor:default;
}

#moduleView div.toolBar>div.select select {
	width:100px;
	margin:2px 10px 2px 3px;
	float:left;
}
#moduleView div.toolBar>div.select label.ASC {
	padding-right:15px;
	background:url('../../images/gui/arrow-top-footer.png') no-repeat right center;
}
#moduleView div.toolBar>div.select label.DESC {
	padding-right:15px;
	background:url('../../images/gui/arrow-bottom-footer.png') no-repeat right center;
}

#moduleView div.toolBar>div.select label{
	padding:5px 0px;
	font-size:x-small;
	float:left;
}

#moduleView div.nbItemsInList  {
	margin-top:-25px; /* this is redefine in the resize_elementList as it depends on the horizontal scrool or not */
	float:right;
	margin-right:20px;
	padding:2px;
	background:#fff;
	position:relative; /* this is to make the nbItemsInList overlapping correctly the divs */
}
#moduleView div.nbItemsInList .page {
	display:none;
}

/*********************************
* Element List HeaderList
*********************************/
#moduleView .list div.headerList{
	font-weight:bold;
	float:left;
	border-top:2px solid #fff;
}

#moduleView .list div.headerList div{
	text-align:left;
	padding:6px 0px 6px 15px;
	white-space: nowrap;
	overflow:hidden;
	float:left;
	border:2px solid #fff;
	border-left:none;
	border-top:none;
	cursor:pointer;
}
#moduleView .list div.headerList div.noSorting{
	cursor:default;
}
#moduleView .list div.headerList div.DESC{
	background-image:url('../../images/gui/arrow-bottom-footer.png');
	background-repeat:no-repeat;
	background-position:4px center;
}
#moduleView .list div.headerList div.ASC{
	background-image:url('../../images/gui/arrow-top-footer.png');
	background-repeat:no-repeat;
	background-position:4px center;
}

/*********************************
* Element List DataList
*********************************/
#moduleView .list{
	overflow-x:hidden;
}
#moduleView .list div.dataList{
	overflow-x:auto;
	overflow-y:scroll;
}

#moduleView .list div.dataList table{
	border-collapse:collapse;
}
#moduleView .list div.dataList table tr{
	cursor:pointer;
}

#moduleView .list div.dataList table tr.groupByTitle td{
	cursor:default;
	border:2px solid #fff;
	border-top:none;
	border-left:none;
}
#moduleView .list div.dataList table tr.readOnly td{
	font-style:italic;
}
#moduleView .list div.dataList table tr.groupByTitle td{
	padding-left:5px;
	font-weight:bold;
	border-bottom-width:1px;
	border-bottom-style:solid;
}
#moduleView .list div.dataList table tr.groupByTitle td div {
	padding-left:17px;
	padding-top:10px;
}

#moduleView .list div.dataList table tr td{
	border:2px solid #fff;
	border-left:none;
	border-top:none;
	padding:0px;
	margin:0px;
}
#moduleView .list div.dataList table tr td div{
	text-align:left;
	overflow:hidden;
	padding:6px 0px 6px 4px;
	white-space: nowrap;
	/*width:inherited;*/
	height:18px;
}

#moduleView .list div.dataList table.medium tr.el td{
	height:50px;
	vertical-align:middle;
}
#moduleView .list div.dataList table.large tr.el td{
	height:80px;
	vertical-align:middle;
}
#moduleView .list div.dataList table.medium tr.el td div{
	max-height:50px;
}
#moduleView .list div.dataList table.large tr.el td div{
	max-height:80px;
}
#moduleView .list div.dataList table.medium tr.el td div,
#moduleView .list div.dataList table.large tr.el td div {
	height:auto;
	white-space:normal;
}
#moduleView .list div.dataList table tr td div.displayAsTitle1 {
	font-size:22px;
}
#moduleView .list div.dataList table tr td div.displayAsTitle2 {
	font-size:18px;
}
#moduleView .list div.dataList table tr td div.displayAsTitle3 {
	font-size:16px;
}
#moduleView .list div.dataList table tr td div p{
	margin:0px; padding:0px;
}

#moduleView .list div.dataList table tr td div.folder {
	padding-left:25px;
	padding-right:7px;
	float:left;
	cursor:pointer;
	background:no-repeat url('../../images/icones/22x22/iconfolder22x22.png') 5px 2px;
	margin-left:15px;
}
#moduleView .list div.dataList table tr td div.disabled {
	cursor:default;
}
#moduleView .list div.dataList table tr td div.folderUp {
	background:no-repeat url('../../images/icones/tango/22x22/actions/up.png') 5px 5px;
	padding-left:32px;
	padding-right:10px;
}
#moduleView .list div.dataList table tr.navigation td div.subFoldersContent {
	background:no-repeat url('../../images/icones/22x22/iconList.png') 5px 0px;
	padding-left:32px;
	padding-right:10px;
	display:block;
/*
	height:auto;
	background:none;
	padding-left:5px;
	margin-top:3px;
	*/
}
#moduleView .list div.dataList table tr.navigation td div.subFoldersList {
	background:no-repeat url('../../images/icones/22x22/iconList.png') 5px 0px;
	/* background:no-repeat url('../../images/icones/22x22/icongeneric22x22.png') 5px 0px; */
	padding-left:32px;
	padding-right:10px;
	display:block;
/*
	height:auto;
	background:none;
	padding-left:5px;
	margin-top:3px;
	*/
}
#moduleView .list div.dataList table tr.navigation td div {
	display:none;
	padding:0px;
}

#moduleView .list .dataList tr:hover div.menu, #moduleView .list .dataList tr.over div.menu{
	background:center center url("../../images/gui/arrow-bottom-footer.png") no-repeat transparent;
}

#moduleView .list div.dataList table tr.el td div.mul,
#moduleView .list div.dataList table tr.folder td div.mul  {
	background:center center url("../../images/gui/iconcheckbox.png") no-repeat transparent;
	height:18px;
}
#moduleView .list div.dataList table tr.M td div.mul {
	background:center center url("../../images/gui/iconcheckbox_checked.png") no-repeat transparent;
	height:18px;
}
#moduleView .list div.headerList div.mul {
	background:center center url("../../images/gui/iconcheckbox.png") no-repeat transparent;
}
#moduleView .list div.headerList div.mul.M {
	background:center center url("../../images/gui/iconcheckbox_checked.png") no-repeat transparent;
}

/*********************************
* Element Calendar fc-content
*********************************/
#moduleView .calendar{
	overflow-x:auto;
	overflow-y:scroll;
}
#moduleView .calendar div.fc-content{
	overflow-x:hidden;
}
#moduleView .calendar div.fc-content div.fc-view{
	overflow-x:hidden;
}
#moduleView .calendar div.fc-content div.fc-view div.fc-border-separate{
	overflow-x:hidden;
}

/*********************************
* Element List Blog View dataBlog
*********************************/
#moduleView .blog{
	overflow-x:hidden;
}
#moduleView .blog div.dataBlog{
	overflow-x:auto;
	overflow-y:scroll;
	border:3px solid #fff;
	border-left:none;
	border-bottom:none;
	background-color:#f6f6f6;
}

#moduleView .blog div.dataBlog div.groupList{
	background-color:#fff;
	clear:both;
	float:left;
	width:100%;
}

#moduleView .blog div.dataBlog div.groupList div.folder {
	float:left;
	cursor:pointer;
	background:no-repeat url('../../images/icones/22x22/iconfolder22x22.png') 5px 2px;
	margin-left:15px;
	padding-left:35px;
	padding-right:7px;
	padding-top:5px;
	height:35px;
}
#moduleView .blog div.dataBlog div.groupList div.disabled {
	cursor:default;
}
#moduleView .blog div.dataBlog div.groupList div.folderUp {
	background:no-repeat url('../../images/icones/tango/22x22/actions/up.png') 5px 5px;
	padding-left:32px;
	padding-right:10px;
}
#moduleView .blog div.dataBlog div.groupList div.subFoldersContent {
	background:no-repeat url('../../images/icones/22x22/iconList.png') 5px 0px;
	padding-left:32px;
	padding-right:10px;
}
#moduleView .blog div.dataBlog div.groupList div.subFoldersList {
	background:no-repeat url('../../images/icones/22x22/iconList.png') 5px 0px;
	padding-left:32px;
	padding-right:10px;
}

#moduleView .blog div.dataBlog div.groupByTitle{
	clear:both;
	cursor:default;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	padding-left:17px;
	padding-top:20px;
}
#moduleView .blog div.dataBlog div.el{
	float:left;
	padding:10px;
	margin:10px;
	background-color:#fff;
	border:1px solid #e6e6e6;
	overflow:hidden;
}
#moduleView .blog div.dataBlog div.el div.field {
	overflow:hidden;
	overflow-y:auto;
	max-height:300px;
	margin-right:0px;
	clear:both;
}
#moduleView .blog div.dataBlog div.el.max div.field {
	overflow:auto;
	max-height:none;
}
#moduleView .blog div.dataBlog div.el div.field:hover {
	overflow:auto;
}

#moduleView .blog div.dataBlog div.el div.dragHandler {
	width:80px;
	cursor:move;
}

#moduleView .blog div.menu {
	float:right;
	cursor:pointer;
	padding:10px;
	margin-top:-3px;
	margin-left:10px;
	margin-right:3px;
	background:center center url("../../images/gui/arrow-bottom-title.png") no-repeat transparent;
}
#moduleView .blog div.el:hover div.menu {
	background:center center url("../../images/gui/arrow-bottom-footer.png") no-repeat transparent;
}

#moduleView .blog div.mul {
	float:right;
	cursor:pointer;
	padding:10px;
	margin-top:-3px;
	margin-left:10px;
	margin-right:3px;
	background:center center url("../../images/gui/iconcheckbox.png") no-repeat transparent;
}
#moduleView .blog div.el.M div.mul {
	background:center center url("../../images/gui/iconcheckbox_checked.png") no-repeat transparent;
}

#moduleView .blog div.el div.max {
	float:right;
	cursor:pointer;
	padding:10px;
	margin-top:-3px;
	margin-left:10px;
	margin-right:3px;
	background:center center url("../../images/gui/layout_tree_plus.png") no-repeat transparent;
}
#moduleView .blog div.el.max div.max {
	background:center center url("../../images/gui/layout_tree_minus.png") no-repeat transparent;
}

#moduleView .blog div.dataBlog div.el div.field.comments {
	overflow: hidden;
	max-height: none;
	width:100%;
}

#moduleView .blog fieldset {
	display:inline; /* table-cell; */
}
@-moz-document url-prefix() {
	#moduleView .blog fieldset {
		display:table-cell;
	}
}

#moduleView .blog fieldset legend {
	font-weight: bold;
	padding: 2px 5px;
}

div.elementDetail fieldset.isPlayingRole legend {

}

/*********************************
* Multiple dialog
*********************************/

#multipleDialog .summary {
	font-size:large;
	padding-bottom:7px;
	padding-left:7px;
	float:left;
	margin-right:10px;
}
#multipleDialog .toolBar {
	float:left;
}
#multipleDialog .toolBar div,
#multipleDialog div.elementStates div {
	float:left;
	cursor:pointer;
	padding-left:5px;
	padding-bottom:0px;
	padding-top:0px;
	height:22px;
	margin-right:10px;
	font-weight:bold;
}

#multipleDialog div.toolBar div.G {
	font-weight:bold;
	padding-right:5px;
	padding-top:5px;
	margin-bottom:15px;
}
#multipleDialog div.elementStates div {
	width:auto;
	font-weight:normal;
	margin-right:0px;
	padding-top:0px;
}
#multipleDialog .toolBar div img,
#multipleDialog div.elementStates div img {
	vertical-align:middle;
	margin-right:5px;
	margin-top:-4px;
}
#multipleDialog div.elementStates {
	float:left;
	cursor:default;
}
#multipleDialog div.elementStates div.unchecked {
	text-align:left;
	padding-left:27px;
	background:url('../../images/gui/iconcheckbox.png') no-repeat 7px 3px;
}
#multipleDialog div.elementStates div.checked {
	text-align:left;
	padding-left:27px;
	background:url('../../images/gui/iconcheckbox_checked.png') no-repeat 7px 3px;
}
#multipleDialog div.elementStates div.mixed {
	text-align:left;
	padding-left:27px;
	background:url('../../images/gui/iconcheckbox_mixed.png') no-repeat 7px 3px;
}
.ui-dialog-title div.selectAll, .ui-dialog-title div.resetAll, .ui-dialog-title div.viewAll {
	float:left;
	margin-right:20px;
	cursor:pointer;
}





