
/******************************
* SuperFish Menu SKIN
******************************/
.sf-menu {
	line-height:	18px;
	margin-bottom:	0px;
	float:          none;
}
.sf-menu li {
	float:			left;
	position:		relative;
}

.sf-menu ul {
	width:			15em; /* left offset of submenus need to match (see below) */
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			15em; /* match ul width */
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			15em; /* match ul width */
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0em;
	top:			28px; /* match top ul list item height */
}
.sf-menu a {
	padding: 		5px 10px;
	text-decoration:none;
	color: #000;
}
.sf-menu a:visited  {
	color: #000;
}
a > .sf-sub-indicator {
	top:			9px;
}

.sf-menu ul {
	border-bottom:none;
}

/*.sf-menu ul {
	visibility: hidden;
}*/

.sf-menu li ul {
	z-index:999999;
}
.sf-menu li a {
	border-left:none;
	border-top:none;
	border-bottom:none;
}
.sf-menu li li a {
	border-top:none;
	border-right:none;
}
.sf-sub-indicator {
	padding-right:10px;
	right:0px;
}
.sf-menu li.selected a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
	padding-right:0px;
	right:10px;
}
.sf-menu li, .sf-menu li li , .sf-menu li li li {
	background:		#fff;
}

.sf-menu>li>a>.sf-sub-indicator {
	top:4px;
}
.sf-menu>li>a {
	padding-bottom:5px;
	padding-top:5px;
}
.sf-menu>li {
	padding-bottom:0px;
	padding-top:0px;
}

/**
adds for making work the navBar
*/
.sf-navbar {
	height:	28px;
	overflow:visible;
	border:none;
}

.sf-navbar a.sf-with-ul {
	padding-right:0px;
}
.sf-navbar .sf-sub-indicator {
	position:static;
	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.sf-navbar li {
	margin-bottom:0px;
	border:none;
}
.sf-navbar li ul {
	position:absolute;
	top:auto;
	left:0px;
	border:none;
	border-bottom:1px solid #fff;
	margin-top:5px;
}
.sf-navbar li li {
	margin-bottom:0px;
}
.sf-navbar li {
	position:		static;
}
.sf-navbar a {
	position:static;
}

.sf-navbar li ul {
	width:			100%; /*IE6 soils itself without this*/
}
.sf-navbar li li {
	position:		relative;
}
.sf-navbar li li ul {
	width:			13em;
}
.sf-navbar li li li {
	width:			100%;
}
.sf-navbar li ul {
	height:0px;
	visibility:hidden;
}
/* use for auto hide submenu with delai */
.delai-navbar {
	background: #f1f3f7 !important;
	color: black !important;
}
.delai-navbar a span {
    background-position: -10px -100px !important;
}
.delai-navbar ul {	
    border: 1px solid #E0E2E5 !important;
    width: auto !important;
    display: table !important;
    visibility: visible !important;
    left: auto !important;
    top: auto !important;
    margin-top: -5px !important;
}
.delai-navbar ul a {
    padding: 5px 20px !important;
} 
.delai-navbar ul li {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	display: block !important;
	z-index: 1 !important;
	float: none !important;
	background: #fff !important;
}

.sf-navbar li.selected {
	margin-bottom:-1px;
	margin-top:3px;
	padding-top:0px;
}
/* .sf-navbar li.selected:hover li.selected, */
.sf-navbar li.selected li.selected {
	margin-top:3px;
	padding-top:0px;
}

.sf-navbar ul li {
	width:			auto;
	float:			left;
}
.sf-navbar  li.selected ul {
	visibility:visible;
	position:absolute;
	z-index:0;
	left:0px;
	height:auto;
	width:100%;
	margin-top:0px;
}
.sf-navbar li:hover ul {
	width:auto;
	display:table;
	visibility:visible;
	left:auto;
	top:auto;
	margin-top:-5px;
}
.sf-navbar  li:hover ul li {
	padding-top:0px;
	padding-bottom:0px;
	display:block;
	z-index:1;
	float:none;
}
.sf-navbar  li:hover ul a {
	padding:5px 20px;
	margin-right:-1px;
}

/* restablish the current selected in hover mode */
.sf-navbar li.selected:hover ul {
	width:100%;
	display:block;
	visibility:visible;
	left:0;
	top:auto;
	margin-top:0px;
}
.sf-navbar  li.selected:hover ul li {
	padding:0px;
	z-index:0;
	float:left;
}
.sf-navbar  li.selected:hover ul li.selected {
	padding-top:0px;
	margin-top:3px;
}
.sf-navbar  li.selected:hover ul a {
	padding:5px 10px;
	margin:0px;
}
/* -------------------- */


.sf-navbar li li a
{
	color:#000;
	border:none;
}
.sf-navbar li.selected a
{
	color:#000;
	font-weight:bold;
	background-color:transparent;
	padding-top:2px;
}
.sf-navbar li.selected.with-ul a
{
	color:#fff;
}

.sf-navbar li.selected li.selected a
{
	color:#000;
	font-weight:bold;
	padding-top:2px;
	padding-bottom:4px;
	background-color:transparent;
}
.sf-navbar li.selected li a {
	padding-top:5px;
}
.sf-navbar li li,
.sf-navbar li, li, li {
	background-color:transparent;
}

#userMenu {
	float:left;
}

/* deactivate css to make visible or not user menu */
/*#userMenu.sf-menu li:hover>ul>li,
#userMenu.sf-menu li:hover>ul,
#userMenu.sf-menu li.selected:hover>ul
{
	visibility:hidden;
}
#userMenu.sf-menu #userName.menuHover>ul,
#userMenu.sf-menu #userName.menuHover>ul>li,
#userMenu.sf-menu #userName.menuHover>ul>li.subMenuHover>ul,
#userMenu.sf-menu #userName.menuHover>ul>li.subMenuHover>ul>li
{
	visibility:visible;
}*/
#userMenu.sf-menu #userName.menuHover>ul
{
	top:28px;
	left:0px;
}
#userMenu.sf-menu #userName.menuHover>ul>li.subMenuHover>ul
{
	top:0px;
	left:195px;
}
/*
#userMenu .home, #userMenu .back, #userMenu .closeAdmin {
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
}
#userMenu .home a, #userMenu .back a, #userMenu .closeAdmin a {
	border:1px solid #000;
	font-weight:bold;
	padding:1px 8px;
}
*/

.subMenuHoverTemp {
	background-color: #AAC9FF !important;
}

#adminSearchBar .subMenuHoverTemp {
	background-color: #cfdeff !important;
}

#userMenu #userName, #userMenu .closeAdmin {
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
}
#userMenu #userName>a, #userMenu .closeAdmin a {
	border:1px solid #000;
	font-weight:bold;
	padding:1px 8px;
}
#userMenu #userName>a {
	border:none;
	padding:2px;
}
#userMenu #userName>a{
	padding-right:15px;
}
#userMenu #userName>a .sf-sub-indicator{
	padding-right:0px;
	margin-right:3px;
}
#userMenu .home>a, #userMenu .back>a{
	border-left-width:1px;
	border-right-width:0px;
}
#userMenu li.changeOwnName a {
	border:none;
	font-size:x-small;
	padding-right:0px;
}

#userMenu li.changeOwnName:hover,
#userMenu #userFeedbackOnSystem a:hover,
#userMenu #userFeedbackOnSystem a:active,
#userMenu #userFeedbackOnSystem a:focus,
#userMenu li.changeOwnName a:hover,
#userMenu li.changeOwnName a:active,
#userMenu li.changeOwnName a:focus {
	background-color:transparent;
}

#userMenu #userFeedbackOnSystem.disabled, #userMenu #userFeedbackOnSystem a.disabled {
	background-color:transparent;
	cursor:default;
	color:#ccc;
}
#userMenu #userFeedbackOnSystem.disabled:hover,
#userMenu #userFeedbackOnSystem a.disabled:hover,
#userMenu #userFeedbackOnSystem a.disabled:active,
#userMenu #userFeedbackOnSystem a.disabled:focus
{
	background-color:transparent;
	cursor:default;
	color:#ccc;
	text-decoration:none;
}

/* overflow on submenu */
#userMenu ul li ul {
    overflow-y: auto;
    overflow-x: hidden;
}

#navigationBar {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#navigationBar .navL{
	float:left;
	height:28px;
	margin-right:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	padding-left:28px;
	background:transparent no-repeat url('../../images/gui/navigate-left.png') center center;
	cursor:pointer;
}
#navigationBar .navR {
	margin-left:0px;
	float:left;
	height:28px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	padding-left:28px;
	cursor:pointer;
	background:transparent no-repeat url('../../images/gui/navigate-right.png') center center;
}
#navigationBar .navR.D {
	background:transparent no-repeat url('../../images/gui/navigate-right-shade.png') center center;
}
#navigationBar .navL.D {
	background:transparent no-repeat url('../../images/gui/navigate-left-shade.png') center center;
}
#navigateMenu {
	width:10000px;
}
#navigateMenu.with-sub {
	margin-bottom:28px;
}
#NMContainer {
	float:left;
	width:400px;
	overflow:hidden;
}

#NMContainerBsp input {
	font-size: 10pt;
	border-right: none;
	max-width: 200px;
}

#NMContainerBsp #removeFiltersButton {
	vertical-align: text-bottom;
}

#dropdown-title > span  {
	font-size: 14pt;
}

#navigationBarBsp{
	margin-bottom: 0;
}

#navigateMenuBsp {
	margin-right: 10px;
}

#NMContainerBsp>div.navbar-header {
	margin-top:3px;
}

.nav > li > a {
	padding-top: 6px;
	padding-bottom: 5px;
	padding-right: 7px !important;
	padding-left: 7px !important;
}

#navigationBarBspMobile li.dropdown{
	float: left;
	margin-left:20px;
}

#navigationBarBspMobile li#base-dropdown {
	float: right;
	margin-right:20px;
}

nav a.username:hover, nav a.username:focus {
	background-color: #fff !important;
}