/**************************************
* Wigii JS API styling
**************************************/


/**************************************
* Popup
**************************************/
div.popupTitle div {
	float:left;
	font-style:normal;
	font-weight:normal;
	font-size:small;
	padding-left:0;
	padding-right:0;
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
	color:black;
}
div.popupBody div {
	cursor:normal;
	float:left;
	font-weight:normal;
	font-style:normal;
	font-size:small;
	padding:0;
	margin:0;
	color:black;	
}
div.field div.file div.ui-resizable-handle {
	padding:0;
	margin:0;
}
/**************************************
* HelpService
**************************************/
/*
div.moduleHelp a.HelpService.helpAnchor {
	background:url('../../images/icones/22x22/iconhelp22x22.png') no-repeat;
	margin-left:3px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	cursor:pointer;
}
*/
a.HelpService.helpAnchor {
	background:url('../../images/gui/iconhelp16x16.png') no-repeat;
	margin-left:3px;
	padding-left:16px;
	padding-right:1px;
	padding-bottom:1px;
	cursor:pointer;
}
#searchBar a.HelpService.helpAnchor {
	background:url('../../images/icones/22x22/iconhelp22x22.png') no-repeat;
	margin-left:3px;
	padding-left:22px;
	padding-right:1px;
	padding-bottom:6px;
	cursor:pointer;
	padding-top: 3px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	#searchBar a.HelpService.helpAnchor {
		position: relative;
		top: 9px;
	}
	
	.ui-dialog-titlebar a.HelpService.helpAnchor {
		position: absolute;
		top: 0px;
		height: 16px;
		width: 16px;
		right: 16px;
	}
}
a.HelpService.warningAnchor {
	background:url('../../images/icones/tango/16x16/status/software-update-urgent.png') no-repeat;
	margin-left:3px;
	padding-left:16px;
	padding-right:1px;
	padding-bottom:1px;
	cursor:pointer;
}
a.HelpService.infoAnchor {
	background:url('../../images/icones/tango/16x16/status/dialog-information.png') no-repeat;
	margin-left:3px;
	padding-left:16px;
	padding-right:1px;
	padding-bottom:1px;
	cursor:pointer;
}
a.HelpService.errorAnchor {
	background:url('../../images/icones/tango/16x16/emblems/emblem-unreadable.png') no-repeat;
	margin-left:3px;
	padding-left:16px;
	padding-right:1px;
	padding-bottom:1px;
	cursor:pointer;
}
a.HelpService.notifAnchor {
	background:url('../../images/gui/mail16x16.png') no-repeat;
	margin-left:3px;
	padding-left:16px;
	padding-right:1px;
	padding-bottom:1px;
	cursor:pointer;
}