/******************************
* CKEditor
******************************/
.field .value .cke_bottom {
	display:none;
}
.field .value .cke_top {
	padding:0px;
}
.field .value .cke_toolbox_collapser {
	float:left;
	border:none;
	height:auto;
	width:auto;
	padding:5px 10px;
	cursor:pointer;
}
.field .value .cke_button {
	height:auto;
	widht:auto;
}
.field .value .cke_toolbox_collapser * {
	cursor:pointer;
}
/******************************
* JQUERY-UI
******************************/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus { border:2px solid #ccc; }
.ui-widget { font-family: Arial,sans-serif; font-size: small; }
/* border color, background color, and color are redefined in theme.css */
.ui-widget { border: 2px solid #f00; background: #f00; color: #f00; }
/* background color are redefined in theme.css */
.ui-widget .ui-widget-header { border:none; background:#f00; background-image: url('../../images/gui/layout_banner_alt-bg.png');background-repeat: repeat-x; color:#<?=$darkGrayR;?>; -moz-border-radius-bottomleft: 0px; -webkit-border-radius-bottomleft: 0px; -moz-border-radius-bottomright: 0px; -webkit-border-radius-bottomright: 0px; }
.ui-widget .ui-widget-header .ui-icon-closethick { background-image:url("images/ui-icons_222222_256x240.png"); }
.ui-widget .ui-widget-header .ui-dialog-titlebar-close { background:none; border:none; margin }
.ui-widget .ui-widget-header .ui-dialog-titlebar-close:hover { background:url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6; }

.ui-dialog .ui-dialog-title {
	margin-bottom:2px;
	width: auto;
}

.ui-dialog { padding:2px; overflow:visible; }
.ui-dialog .ui-dialog-content { border: 0; padding: 10px 10px; background: none; overflow: visible; }
/* background color are redefined in theme.css */
.ui-dialog .ui-dialog-buttonpane { background:#f00; border:none; margin-top:0px;}

.ui-dialog .ui-dialog-titlebar {
	padding:0.1em 1em;
}

.ui-tabs { border:none; padding:0px; }
/* border color are redefined in theme.css */
.ui-tabs .ui-tabs-nav { border:none; border-bottom:1px solid #f00;  background:none; margin-left:5px;margin-right:0px; padding:0px; }

.ui-tabs .ui-tabs-nav li { border-bottom-width:1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active { background-color:#fff;color:#000;border-color:#000;border-bottom-color:#fff;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a { color:#000;}
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: 0.2em 0.4em; }
.ui-tabs .ui-tabs-panel { padding: 0px; border-width: 0; border-bottom-width:1px; background: none; }

.ui-datepicker { z-index:999999; }
.ui-colorpicker { z-index:999999; }

.multilanguage.ui-tabs .ui-tabs-panel { border-width: 0; }
.multilanguage.ui-tabs .ui-tabs-panel div.value {
	margin-top:-1px;
	padding:0px;
	border:none;
}
.ui-tabs .ui-tabs-panel div.value input, .ui-tabs .ui-tabs-panel div.value textarea {
	margin-top:0px;
	padding-top:5px;
	padding-right:5px;
	padding-left:5px;
	padding-bottom:3px;
}
/*******************************/
/* Box file picker integration */
/*******************************/
.ui-button-icon-box{
	background-color: #ffffff;
	font-family : Verdana,Arial,sans-serif;
	border-style: none;
	background-image:url(../../images/gui/box_icon_22x22.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:25px;
	padding-top:5px;
	padding-bottom:5px;
	cursor:pointer;	
}
.ui-button-icon-box:hover{
	background-color: rgb(188,229,252);
}
/****************************/
/* SysInfo (system information at field level) */
/****************************/
div.field div.addinfo {
	display:none;
	padding:4px;
	border-width:2px;
	position:absolute;
	background-color:#fff;
	font-weight:normal;
}

/****************************/
/* help (infoBulle) */
/****************************/
#help{
	position:absolute;
	z-index:999999;
	border-style:solid;
	border-color:#369;
	border-width:1px;
	font-size:12px;
	background-color:#fffcde;
	padding:5px 5px 5px 5px;
	margin: 0px;
	width:auto;
	height:auto;
}
#help p {
	margin:0px;
	padding:0px;
	margin-top:5px;
}

/* pour afficher les ids des groupes */
#help span.idGrp {
	font-size:x-small;
}

/**************************************
* freeText
**************************************/
h4 {
	margin-bottom:0px;
	margin-top:20px;
	font-size:14px;
}


/**************************************
* footerBar
**************************************/
#footerBar {
	text-align:center;
	padding:2px 0px;
	cursor:default;
	width:100%;
	margin-top:5px;
	position: fixed;
	bottom:0px;
	left:0px;
}

#cronJobs, #wigiiVersionLabel, #pUsername {
	float:left;
}
#cronJobs, #pUsername {
	margin-left:10px;
}
#cronJobsStart, #cronJobsStop {
	cursor:pointer;
}

#userFeedbackOnSystem {
	float:right;
	margin-right:10px;
}
#userFeedbackOnSystem img {
	vertical-align:bottom;
}
#userFeedbackOnSystem.disabeld a, #userFeedbackOnSystem a {
	cursor:pointer;
}

/**************************************
* contextMenu
**************************************/
div.cm{
	position:absolute;
	background:#fff;
	display:none;
	float:left;
	padding:0px;
	z-index:999998;
}
div.cm>div{
	padding:4px 15px;
	padding-right:25px; /* to prevent the exit making line return */
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
}
div.cm>.exit{
	float:right;
	width:auto;
	padding:1px 5px;
	padding-top:0px;
	background:#fff;
	cursor:pointer;
	border-left-width:1px;
}
div.cm>div:last-child{
	border:none;
}
div.cm>div>a{
	color:#000;
	text-decoration:none;
}
div.cm div.unchecked {
	text-align:left;
	padding-left:27px;
	background:url('../../images/gui/iconcheckbox.png') no-repeat 7px 3px;
}
div.cm div.checked {
	text-align:left;
	padding-left:27px;
	background:url('../../images/gui/iconcheckbox_checked.png') no-repeat 7px 3px;
}

/**************************************
* Summary
**************************************/
#summaryDialog {
	top:50px;
	left:50px;
}
#summaryDialog>div.handler {
	height:10px;
	cursor:move;
}
#summaryDialog>textarea.content {
	width:300px;
	max-height:400px;
}
#summaryDialog>textarea.content:hover {
	background:#fff;
}

/**************************************
* loginPage
**************************************/
#loginPage {
	/*padding:20px;*/
}

#quickStart {
/*	float:left;
	margin-left:40px;	
	margin:10px;
	*/
	margin:0;	
}
#quickStartTabs {
	padding:10px;
}
#quickStartTabs.introduction {
	margin-right:auto;
	margin-left:auto;
	margin-bottom:20px;
	min-height:400px;
}

#loginForm {
	/*
	float:left;
	width:400px;
	*/
	margin-top:0px;/* 7px; */
	padding:10px;
	/* padding-bottom:7px; */
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:none;
}


#quickStartTabs {
	border:none;
	margin-top:0px;
}

#quickStartTabs ul.ui-tabs-nav {
	border:1px solid #A9A9A9;
	border-top:none;
	border-left:none;
	border-right:none;
	background:none;

}

#quickStartTabs ul.ui-tabs-nav li {
	border-color:#A9A9A9;
}

#quickStartTabs div.ui-tabs-panel {
	border-top:none;
	border-left:none;
	border-bottom:none;
	border-right:none;
}

#quickStartTabs h1 {
	margin:16px 0px;
}
#quickStartTabs h2 {
	margin:14px 0px;
}

#quickStartTabs h3 {
	margin:12px 0px;
}

#quickStartTabs p {
	margin:6px 0px;
}

/**************************************
* scroll shadow
**************************************/
.scrollGradient {
	display:block; 
	position:absolute; 
	width:calc(100% - 4px); 
	height:10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

/**************************************
* Adapt the toolbar
**************************************/
#elementDialog .el_edit {
	color: white;
	background-color: #95C33B;
	border-radius: 3px;
	padding-left: 7px;
	padding-right: 7px;
}

#searchBar > div.H.el_status > span.glyphicon-tags, #elementDialog > div.T > div.H.el_status > span.glyphicon-tags{
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}

.ui-dialog .ui-dialog-title{
    line-height: 25px;
}

/*****************************************
* FullCalendar
*****************************************/
.fc-toolbar.fc-header-toolbar {
	margin-bottom:0px;
}
.fc-event.highlight {
	border-width:6px;
	border-style:double;
}
.fc-event.highlight .fc-content:before {
    content: "✅";
    margin-right: 6px;
}

/************************************************
* KanBan board and NCD integration 
*************************************************/
#workZone div.dataZone.wncd * {
	box-sizing:border-box;
}
button.ncd {
	font-size:x-large;	
	margin:0.1em;
	margin-left:0em;
	padding:0.05em 0.2em;
	border-style:solid;
	border-radius:0.2em;
	border-color:black;
	cursor:pointer;
}
button.ncd:hover, button.ncd:focus {
	border-color:blue;
}
div.storyBoardFilters {
	padding-top:3px;
}


